#miraVis {
  max-width: 100%;
}

h1 {
    margin-bottom: 0px;
}

body { margin:0;
  padding:0; overflow:hidden }

svg { position:fixed; top:0; bottom:0; left:0; right:0 }

.axis, .axis path {
  fill: none;
  stroke: #ffbf3d;
  stroke-width: 4;

}

.axisTitle {
  font-weight: bold;
  font-size: 22px;
}

text {
  fill: black;
  font-size: 13px;
}

.dot.Science {
  fill: #990033;
}

.dot.Engineering{
  fill: #000000;
}
 
.dot.Business{
  fill: #8BD3E6;
}
.dot.HealthSciences{
  fill: #FDBF57;
}
.dot.SocialSciences{
  fill: #007096;
}
.dot.Humanities{
 fill:#007B4B;
}

.filterLabel {
  font-weight: bold;
  padding: 0px 10px;
  margin-top: 15px;
}
 
#facultyFilter button {
  display:block;
  width: 100%;
  background: none;
  text-align: left;
  padding: 2px 2px 2px 10px;
  margin-bottom: 2px;
  border: none;
  border-bottom: 1px dashed #dbdbdd;
}

#facultyFilter button:hover {
  background-color: #dbdbdd;
}

#facultyFilter button.active {
  background-color: #efefef;
}

#facultyFilter span {
  font-size: 1.4em;
  margin-right: 4px;
}
#facultyFilter .Engineering span {
  color: #000000;
}

#facultyFilter .HealthSciences span {
  color: #FDBF57;
}

#facultyFilter .Science span {
  color: #990033;
}

#facultyFilter .Business span {
  color: #8BD3E6;
}

#facultyFilter .SocialSciences span {
  color: #007096;
}

#facultyFilter .Humanities span {
  color:  #007B4B;
}

#projectFilter button {
  display:block;
  width: 100%;
  background: none;
  text-align: left;
  padding: 2px 2px 2px 10px;
  margin-bottom: 2px;
  border: none;
  border-bottom: 1px dashed #dbdbdd;
}

#projectFilter button.level2 {
  padding-left: 20px;
}

#projectFilter button.level3 {
  padding-left: 30px;
}

#projectFilter button:hover {
  background-color: #dbdbdd;
}

#projectFilter button.active {
  background-color: #efefef;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font-size: .9em;
  background: #fff;
  border: 1px solid #5e6a71;
  border-radius: 8px;
}

div.tooltip .tooltipName {
  font-weight:bold;
  font-size:1.2em;
  text-align:center;
  padding-left: 25px;
  padding-right: 10px
}

circle {
  z-index: 100;
  stroke: white;
  stroke-width: 0.4px;
}

text, line {
  z-index: 5;
}

line {

}

.filters {
  position: absolute;
  top: 5px;
  left: 5px;
}

.filters a.btn {
  border-radius: 8px;
  width: 100%;
}

.filters a:before, button.level1:not(.triggerProjectFilter):before, button.level2:not(.triggerProjectFilter):before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
  padding-right: 10px;
}

.filters a.active:before, button.level1.active:before, button.level2.active:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 10px;
}

#collapseFilter {
//  background-color: #fff;
//  border-radius: 8px;
  padding: 0px 5px 5px 5px;
//  border: 1px solid #dbdbdd;
  overflow-y: scroll;
  margin-top: 10px;
  background-color: #dbdbdd;
}

#filter1, #filter2 {
  background-color: #fff;
  border-radius: 8px;
  padding: 0px 0px 20px 0px;
  border: 1px solid #dbdbdd;
}

.filters div {
  margin-top: 10px;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  border-color: transparent;
}

#zoomButtons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}