#miraVis {
  max-width: 100%;
}

h1 {
    margin-bottom: 24px;
}

.axis, .axis path {
  fill: none;
  stroke: #ACB849;
}

.axisTitle {
  font-weight: bold;
}

text {
  stroke: none;
  fill: #666666;
}

.dot.Science {
  fill: #990033;
}

.dot.Engineering{
  fill: #000000;
}
 
.dot.Business{
  fill: #8BD3E6;
}
.dot.HealthSciences{
  fill: #FDBF57;
}
.dot.SocialSciences{
  fill: #007096;
}
.dot.Humanities{
 fill:#007B4B;
}
 
#facultyFilter button {
  display:block;
  width: 150px;
  background: none;
  text-align: left;
  padding: 2px 2px 2px 10px;
  border: 2px solid #5e6a71;
  margin-bottom: 2px;
  border-radius: 20px;
}

#facultyFilter button:hover {
  background-color: #dbdbdd;
}

#facultyFilter span {
  font-size: 1.4em;
}
#facultyFilter .Engineering span {
  color: #000000;
}

#facultyFilter .HealthSciences span {
  color: #FDBF57;
}

#facultyFilter .Science span {
  color: #990033;
}

#facultyFilter .Business span {
  color: #8BD3E6;
}

#facultyFilter .SocialSciences span {
  color: #007096;
}

#facultyFilter .Humanities span {
  color:  #007B4B;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font-size: .9em;
  background: #fff;
  border: 1px solid #5e6a71;
  border-radius: 8px;
}

div.tooltip .tooltipName {
  font-weight:bold;
  font-size:1.2em;
  text-align:center;
}

circle {
  z-index: 100;
}

text, line {
  z-index: 5;
}

line {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
}